/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 */
table.one,tr.one,th.one{
	background-color: #FFEFD5;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-weight: solid;
	font-size: 30px;
	table-layout: fixed;
	border-color: #FFFAFA;
	border-collapse: collapse;
}

body {
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 25px;
	padding-bottom: 25px;
}



a:link{
	color:	#DB7093;
	background-color: transparent;
	text-decoration: none;
	text-align: center;
	font-weight: solid;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-shadow: 2px 2px #F0F0F0 ;
}

a:visited{
	color: rgb(128,21,28);
	background-color: transparent;
	text-decoration: none;
}

a:hover{
	color: #CD5C5C;
	background-color: transparent;
	text-decoration: none;
}

a:active{
	color: #FFB6C1;
	background-color: transparent;
	text-decoration: underline;
}



img.home{
	-webkit-animation:mymove 5s infinite;
	animation: mymove 5s infinite;
	position: relative;
	-webkit-animation-timing-function:ease-in-out;

}

@-webkit-keyframes mymove{
	from{left: 0px;}
	to{left: 450px;}
}

@keyframes mymove{
	from{left: 0px;}
	to{left: 450px;}
}


h1{
	text-align: center;
	font-size: 30px;
	font-weight: solid;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #FA8072;
}

h2{
	text-align: center;
	font-size: solid;
	color: #940038;
}

h3{
	text-align: center;
	font-size:15px;
	font-weight: lighter;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #FA8072;
}

table, tr, td {
	border:2px solid;
	border-color: rgb(204,208,211);
	border-collapse: collapse;
	table-layout: fixed;

}

th {
	text-align: left;
	border: 2px solid;
	border-color: rgb(204,208,211);
	background-color: rgb(221,221,221);
	font-family: "Times New Roman", Times, serif;
	padding: 5px;
	width: 100px;
	}

td{
	font-weight: normal;
	text-align: center;
	width: 100px;
	background:#FFE4E1;
}

tbody{
	background:	#F0F8FF;
}


#app_div{
	text-align: center;
	background: #FFEBEB;
}

p{
	font-size: 15px;
	font-weight: lighter;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#app_body{
	background: url("http://www.walldevil.com/wallpapers/a81/pokemon-bulbasaur-squirtle-charmander.jpg");
	background-size: 1500px 1000px;
    background-repeat: no-repeat;

}