// Place all the styles related to the Tokimon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 25px;
	padding-bottom: 25px;

}

h1{
	text-align: center;
	font-size:30px;
	font-weight: solid;
	font-style: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}

table, tr, td {
	border:2px solid;
	border-color: rgb(204,208,211);
	border-collapse: collapse;
	table-layout: fixed;
}

th {
	text-align: left;
	border:2px solid;
	border-color: rgb(204,208,211);
	background-color: rgb(221,221,221);
	font-family: "Times New Roman", Times, serif;
	padding: 5px;
	width: 100px;
	}

td{
	font-weight: normal;
	text-align: left;
	padding-left: 5px;
	padding-right: 75px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100px;
}

tbody{
	background:	#F0F8FF;
}




div{
	text-align: center;
	font-weight: normal;
	background: #F5FFFA;
}

p{
	font-size: 20px;
	font-weight: normal;
}




